In [52]:
import pandas as pd
import os
import jsonlines

In [53]:
df_session = pd.read_json("../output/structured/Session.jsonl", lines=True)
df_presentation = pd.read_json("../output/structured/Presentation.jsonl", lines=True)
df_session_person = pd.read_json("../output/structured/SessionPerson.jsonl", lines=True)
df_presentation_person = pd.read_json("../output/structured/PresentationPerson.jsonl", lines=True)
df_person = pd.read_json("../output/structured/Person.jsonl", lines=True)

In [54]:
## check lengths

In [55]:
print("{} {} {} {} {}".format(
    len(df_session), len(df_presentation), len(df_session_person), len(df_presentation_person), len(df_person)))

206 3208 365 5067 2436

In [56]:
## test all person_id exist within person df

In [57]:
all_person_ids = list(df_session_person.person_id) + list(df_presentation_person.person_id)

In [58]:
[item for item in all_person_ids if item not in list(df_person.id)]

[]

In [59]:
## test all session_id exist within session df

In [60]:
all_session_ids = list(df_session_person.session_id) + list(df_presentation.session_id)

In [61]:
all_session_ids = list(df_session_person.session_id)

In [62]:
[item for item in all_session_ids if item not in list(df_session.id)]

[]

In [63]:
## bugfix

In [64]:
suspect_session_ids = [item for item in all_session_ids if item not in list(df_session.id)]

In [65]:
df_presentation[df_presentation["session_id"].isin(suspect_session_ids)]

Empty DataFrame
Columns: [id, title, start_time, end_time, session_id, order, description]
Index: []

In [66]:
'f3bc7a75-21eb-4685-9da4-2626cd0b811c'=='f3bc7a75-21eb-4685-9da4-2626cd0b811c'

True

In [67]:
df_session_person[df_session_person["session_id"].isin(suspect_session_ids)]

Empty DataFrame
Columns: [role, session_id, person_id]
Index: []