In [50]:
import pandas as pd
import numpy as np
import uuid
import os
import jsonlines
import datetime
import uuid

In [51]:
all_sessions_raw = pd.read_json("../output/raw/sessions_all_crawlies.json")

In [52]:
all_sessions_raw.iloc[0]

id                       3daf5a49-1466-4b98-b6d0-1cb5391e5bd1
class                                                 session
range                                                     1.0
order                                                     2.0
event_id                 a12c53cf-a1d6-4def-9c54-a765ccdc3de8
title            Lymphatics, lipoproteins and the endothelium
location                                               Hall C
start_time                                2021-06-01 14:30:00
end_time                                  2021-06-01 15:10:00
content_id                                                NaN
role                                                      NaN
full_name                                                 NaN
first_name                                                NaN
last_name                                                 NaN
second_name                                               NaN
country                                                   NaN
session_order                                             NaN
session_range                                             NaN
session_id                                                NaN
session_type                                              NaN
description                                               NaN
Name: 0, dtype: object

## All sessions

In [53]:
# filter sessions from all session data (sessions, pres, persons)
sessionsdf = all_sessions_raw[all_sessions_raw["class"] == "session"][[
        "id", "range", "order", "event_id", "title", "location", "start_time", "end_time"
    ]]

In [54]:
sessionsdf.head()

,id,range,order,event_id,title,location,start_time,end_time
0,3daf5a49-1466-4b98-b6d0-1cb5391e5bd1,1.0,2.0,a12c53cf-a1d6-4def-9c54-a765ccdc3de8,"Lymphatics, lipoproteins and the endothelium",Hall C,2021-06-01 14:30:00,2021-06-01 15:10:00
11,cb55033f-259d-4b2a-bfee-0207fd941a49,1.0,1.0,a12c53cf-a1d6-4def-9c54-a765ccdc3de8,Liver as the center of lipid metabolism,Hall E,2021-06-01 14:30:00,2021-06-01 16:00:00
22,3b09e701-446d-41f2-a06a-04a9f38aae6e,1.0,8.0,a12c53cf-a1d6-4def-9c54-a765ccdc3de8,Workshop: Diet and CVD,Hall B (Live Q&A),2021-06-01 12:30:00,2021-06-01 14:00:00
40,a47d4734-499c-4d06-9128-2327607c7bbe,1.0,3.0,a12c53cf-a1d6-4def-9c54-a765ccdc3de8,Workshop: Aortic valve stenosis and Lp(a): fro...,Live Streamed,2021-06-01 16:00:00,2021-06-01 17:30:00
61,111e3af4-b089-4049-a890-6a20b78d6223,1.0,5.0,a12c53cf-a1d6-4def-9c54-a765ccdc3de8,Workshop: Cell metabolism and vascular health,Hall D,2021-06-01 14:30:00,2021-06-01 16:00:00

In [55]:
# convert range and order to integers
sessionsdf["range"] = sessionsdf["range"].apply(lambda x: int(x))
sessionsdf["order"] = sessionsdf["order"].apply(lambda x: int(x))

In [56]:
# visualize duplicated sessions
sessionsdf[sessionsdf.duplicated(['title'])]

Empty DataFrame
Columns: [id, range, order, event_id, title, location, start_time, end_time]
Index: []

In [57]:
len(sessionsdf)

45

In [58]:
event_id = sessionsdf.iloc[0]["event_id"]

In [35]:
# sessionsdf["start_time"]

In [59]:
sessionsdf.columns

Index(['id', 'range', 'order', 'event_id', 'title', 'location', 'start_time',
       'end_time'],
      dtype='object')

In [60]:
sessionsdf[sessionsdf["title"]=="Meet the experts - Overcoming barriers to population health-through siRNA based therapies"]

,id,range,order,event_id,title,location,start_time,end_time
684,2132b255-b30c-4d5f-8bcf-b2e448bf3b3b,4,1,a12c53cf-a1d6-4def-9c54-a765ccdc3de8,Meet the experts - Overcoming barriers to popu...,Meet the expert session hall,2021-05-31 16:30:00,2021-05-31 17:00:00

In [61]:
# add non referenced sessions
sessionsdf = sessionsdf.append(pd.DataFrame([{
    "id": str(uuid.uuid4()),
    "range": 4, "order": 1.3, "event_id": event_id, "title": "Meet the experts - Addressing residual risk beyond LDL-c in high or very high-risk patients",
    "location": "Meet the expert session hall",
    "start_time": datetime.datetime.strptime("20210531-1730", '%Y%m%d-%H%M'),
    "end_time": datetime.datetime.strptime("20210531-1800", '%Y%m%d-%H%M')}]))

In [62]:
# add non referenced sessions
sessionsdf = sessionsdf.append(pd.DataFrame([{
    "id": str(uuid.uuid4()),
    "range": 4, "order": 1.6, "event_id": event_id, "title": "Meet the experts - Novel pathways for intensive lipid lowering",
    "location": "Meet the expert session hall",
    "start_time": datetime.datetime.strptime("20210601-1630", '%Y%m%d-%H%M'),
    "end_time": datetime.datetime.strptime("20210601-1700", '%Y%m%d-%H%M')}]))

In [63]:
len(sessionsdf)

47

In [64]:
sessionsdf[-2:]

,id,range,order,event_id,title,location,start_time,end_time
0,912abaa5-9ffe-456f-9f34-0476c3c380b0,4,1.3,a12c53cf-a1d6-4def-9c54-a765ccdc3de8,Meet the experts - Addressing residual risk be...,Meet the expert session hall,2021-05-31 17:30:00,2021-05-31 18:00:00
0,c6953f11-fff5-4cfd-8fa3-0af169fb057e,4,1.6,a12c53cf-a1d6-4def-9c54-a765ccdc3de8,Meet the experts - Novel pathways for intensiv...,Meet the expert session hall,2021-06-01 16:30:00,2021-06-01 17:00:00

In [65]:
# Don't forget session chairs

In [66]:
# Reorder sessions
sessionsdf["rangeorder"] = sessionsdf["range"]*100 + sessionsdf["order"]
sessionsdf.sort_values(by="rangeorder", inplace=True)
sessionsdf.reset_index(inplace=True, drop=True)
sessionsdf["order"] = sessionsdf.index + 1

In [67]:
sessionsdf.drop(columns=["range"], inplace=True)

In [68]:
sessionsdf.head()

,id,order,event_id,title,location,start_time,end_time,rangeorder
0,10ce7b00-8a9c-4195-9e1e-7c5b6b4714fc,1,a12c53cf-a1d6-4def-9c54-a765ccdc3de8,Current insights into the role of gut microbio...,Hall D,2021-05-31 16:00:00,2021-05-31 17:30:00,100.0
1,cb55033f-259d-4b2a-bfee-0207fd941a49,2,a12c53cf-a1d6-4def-9c54-a765ccdc3de8,Liver as the center of lipid metabolism,Hall E,2021-06-01 14:30:00,2021-06-01 16:00:00,101.0
2,3daf5a49-1466-4b98-b6d0-1cb5391e5bd1,3,a12c53cf-a1d6-4def-9c54-a765ccdc3de8,"Lymphatics, lipoproteins and the endothelium",Hall C,2021-06-01 14:30:00,2021-06-01 15:10:00,102.0
3,a47d4734-499c-4d06-9128-2327607c7bbe,4,a12c53cf-a1d6-4def-9c54-a765ccdc3de8,Workshop: Aortic valve stenosis and Lp(a): fro...,Live Streamed,2021-06-01 16:00:00,2021-06-01 17:30:00,103.0
4,0580a215-6282-4d05-9bd8-69b4a49001bb,5,a12c53cf-a1d6-4def-9c54-a765ccdc3de8,Workshop: Influence of genes on the susceptibi...,Live Streamed,2021-05-31 15:00:00,2021-05-31 16:30:00,104.0

In [69]:
sessionsdf[-2:]

,id,order,event_id,title,location,start_time,end_time,rangeorder
45,1843e4ff-49d9-4fa5-a46e-07e6154d6e76,46,a12c53cf-a1d6-4def-9c54-a765ccdc3de8,Sponsored Session 4 (not Included in the main ...,Industry session hall,2021-06-01 11:00:00,2021-06-01 11:45:00,409.0
46,f67357ce-c4e3-4419-a348-6455ccceb932,47,a12c53cf-a1d6-4def-9c54-a765ccdc3de8,Sponsored Session 5 (not Included in the main ...,Industry session hall,2021-06-02 11:00:00,2021-06-02 11:45:00,410.0

In [70]:
presentationsdf = all_sessions_raw[all_sessions_raw["class"] == "presentation"][[
        "id", "title", "order", "start_time", "end_time", "session_id", "description",
        "session_order", "session_range", "session_type"]]

In [81]:
sessionsdf = sessionsdf.merge(
    presentationsdf[["session_id", "session_type"]], left_on="id", right_on="session_id", how="left").drop_duplicates()

In [82]:
print(len(sessionsdf))
print(len(test))

47
47

In [22]:
with jsonlines.open('../output/structured/Session.jsonl', mode='w') as writer:
    sessionsdf["start_time"] = sessionsdf["start_time"].dt.strftime("%Y-%m-%dT%H:%M:%S.%f")
    sessionsdf["end_time"] = sessionsdf["end_time"].dt.strftime("%Y-%m-%dT%H:%M:%S.%f")
    writer.write_all(sessionsdf.T.apply(lambda x: x.dropna().to_dict()).tolist())

## All presentations, including e-posters

In [25]:
# Filter presentations
all_sessions_raw[all_sessions_raw["class"]=="presentation"].iloc[250]

id               51a89650-e7f0-445f-8b5f-dfffb3e499cc
class                                    presentation
range                                             NaN
order                                             1.0
event_id         a12c53cf-a1d6-4def-9c54-a765ccdc3de8
title                              Supported by Amgen
location                                          NaN
start_time                        2021-05-30 09:45:00
end_time                          2021-05-30 09:45:00
content_id                                        NaN
role                                              NaN
full_name                                         NaN
first_name                                        NaN
last_name                                         NaN
second_name                                       NaN
country                                           NaN
session_order                                     5.0
session_range                                     4.0
session_id       a35bbe75-4661-43cd-9d74-7a4069d5a254
session_type               Industry Sponsored Session
description                                       NaN
Name: 665, dtype: object

In [24]:
presentationsdf = all_sessions_raw[all_sessions_raw["class"] == "presentation"][[
        "id", "title", "order", "start_time", "end_time", "session_id", "description",
        "session_order", "session_range"]]

In [145]:
[item for item in presentationsdf.session_id if item not in list(sessionsdf.id)]

[]

In [146]:
presentationsdf.head()

,id,title,order,start_time,end_time,session_id,description,session_order,session_range
3,40f9964b-4a75-4f75-8995-d86cb903a36b,Introduction,0.0,2021-05-31 16:00:00,2021-05-31 16:03:00,55726fce-937f-4c60-bd10-d3159e157adf,NaN,0.0,1.0
6,09ca1ebc-c203-476f-b93c-51722ada74da,Is gut microbiota a risk factor for cardiovasc...,1.0,2021-05-31 16:03:00,2021-05-31 16:18:00,55726fce-937f-4c60-bd10-d3159e157adf,NaN,0.0,1.0
8,43cc35bd-828c-472c-8b84-6b58576a0e95,The Impact of Diet on Gut Microbiota in Health...,2.0,2021-05-31 16:18:00,2021-05-31 16:33:00,55726fce-937f-4c60-bd10-d3159e157adf,NaN,0.0,1.0
10,4d36916e-21d5-4fb8-bdc0-f6d13b209fe6,Conclusion,3.0,2021-05-31 16:33:00,2021-05-31 16:36:00,55726fce-937f-4c60-bd10-d3159e157adf,NaN,0.0,1.0
16,4bdf4321-d97a-463b-975c-01b4bdd600b7,Introduction,0.0,2021-06-02 15:30:00,2021-06-02 15:33:00,4e9a759b-afec-4aa7-91fc-868aebfed149,NaN,6.0,1.0

In [147]:
presentationsdf["order"] = presentationsdf["order"].apply(lambda x: int(x))
presentationsdf["session_order"] = presentationsdf["session_order"].apply(lambda x: int(x))
presentationsdf["session_range"] = presentationsdf["session_range"].apply(lambda x: int(x))

In [148]:
presentationsdf

,id,title,order,start_time,end_time,session_id,description,session_order,session_range
3,40f9964b-4a75-4f75-8995-d86cb903a36b,Introduction,0,2021-05-31 16:00:00,2021-05-31 16:03:00,55726fce-937f-4c60-bd10-d3159e157adf,NaN,0,1
6,09ca1ebc-c203-476f-b93c-51722ada74da,Is gut microbiota a risk factor for cardiovasc...,1,2021-05-31 16:03:00,2021-05-31 16:18:00,55726fce-937f-4c60-bd10-d3159e157adf,NaN,0,1
8,43cc35bd-828c-472c-8b84-6b58576a0e95,The Impact of Diet on Gut Microbiota in Health...,2,2021-05-31 16:18:00,2021-05-31 16:33:00,55726fce-937f-4c60-bd10-d3159e157adf,NaN,0,1
10,4d36916e-21d5-4fb8-bdc0-f6d13b209fe6,Conclusion,3,2021-05-31 16:33:00,2021-05-31 16:36:00,55726fce-937f-4c60-bd10-d3159e157adf,NaN,0,1
16,4bdf4321-d97a-463b-975c-01b4bdd600b7,Introduction,0,2021-06-02 15:30:00,2021-06-02 15:33:00,4e9a759b-afec-4aa7-91fc-868aebfed149,NaN,6,1
...,...,...,...,...,...,...,...,...,...
723,eeb8415a-8c98-4f91-899a-34baaf807f09,Humoral immune responses in the artery wall.,3,2021-06-01 11:03:00,2021-06-01 11:18:00,7c7342fa-fd91-4f1f-acc8-81c33c43fc7f,NaN,1,2
725,ea5ae3b6-a49a-4662-8015-9b2fec318c32,O033 - CHIP mutations mediate human atheroscle...,4,2021-06-01 11:18:00,2021-06-01 11:26:00,7c7342fa-fd91-4f1f-acc8-81c33c43fc7f,Background and Aims Clonal hematopoiesis of in...,1,2
727,8273e9a5-bc89-4af4-8f16-e178ef6842cf,O034 - Deficiency of myeloid phd proteins aggr...,5,2021-06-01 11:26:00,2021-06-01 11:34:00,7c7342fa-fd91-4f1f-acc8-81c33c43fc7f,Background and Aims Atherosclerotic plaque hyp...,1,2
729,17825191-8280-4f86-82b7-58028868f568,O035 - Phosphorylcholine-targeting vaccination...,6,2021-06-01 11:34:00,2021-06-01 11:42:00,7c7342fa-fd91-4f1f-acc8-81c33c43fc7f,Background and Aims Vaccination with phosphory...,1,2
731,0b3662f9-337c-4cb2-911a-cffd285ab66d,Q&A,7,2021-06-01 11:42:00,2021-06-01 11:57:00,7c7342fa-fd91-4f1f-acc8-81c33c43fc7f,NaN,1,2

In [149]:
presentationsdf["rangeorder"] = presentationsdf[
    "session_range"]*10000 + presentationsdf["session_order"]*100 + presentationsdf["order"]
presentationsdf["rangeorder"] = presentationsdf["rangeorder"].apply(int)
presentationsdf.drop(columns=["session_range", "session_order", "order"], inplace=True)

In [150]:
presentationsdf.sort_values(by="rangeorder", inplace=True)

In [151]:
presentationsdf.reset_index(inplace=True, drop=True)
presentationsdf["order"] = presentationsdf.index + 1
presentationsdf.drop(columns=["rangeorder"], inplace=True)

In [152]:
presentationsdf["description"] = presentationsdf["description"].apply(
    lambda x: np.nan if pd.isnull(x) else x)

In [153]:
presentationsdf.head()

,id,title,start_time,end_time,session_id,description,order
0,40f9964b-4a75-4f75-8995-d86cb903a36b,Introduction,2021-05-31 16:00:00,2021-05-31 16:03:00,55726fce-937f-4c60-bd10-d3159e157adf,NaN,1
1,09ca1ebc-c203-476f-b93c-51722ada74da,Is gut microbiota a risk factor for cardiovasc...,2021-05-31 16:03:00,2021-05-31 16:18:00,55726fce-937f-4c60-bd10-d3159e157adf,NaN,2
2,43cc35bd-828c-472c-8b84-6b58576a0e95,The Impact of Diet on Gut Microbiota in Health...,2021-05-31 16:18:00,2021-05-31 16:33:00,55726fce-937f-4c60-bd10-d3159e157adf,NaN,3
3,4d36916e-21d5-4fb8-bdc0-f6d13b209fe6,Conclusion,2021-05-31 16:33:00,2021-05-31 16:36:00,55726fce-937f-4c60-bd10-d3159e157adf,NaN,4
4,67ee8ad0-ffbe-4e97-97cc-74226800c63f,Introduction,2021-06-01 14:30:00,2021-06-01 14:33:00,5d133764-cf6b-49ee-8c7c-3d2adb183e49,NaN,5

In [154]:
sessionsdf["event_id"].unique()

array(['2d7be553-c3d5-48ec-b65f-58610748bf9c'], dtype=object)

In [155]:
[item for item in presentationsdf.session_id if item not in list(sessionsdf.id)]

[]

In [156]:
with jsonlines.open('../output/structured/Presentation.jsonl', mode='w') as writer:
    presentationsdf["start_time"] = presentationsdf["start_time"].dt.strftime("%Y-%m-%dT%H:%M:%S.%f")
    presentationsdf["end_time"] = presentationsdf["end_time"].dt.strftime("%Y-%m-%dT%H:%M:%S.%f")
    writer.write_all(presentationsdf.T.apply(lambda x: x.dropna().to_dict()).tolist())

## Persons

In [157]:
all_sessions_raw["class"].unique()

array(['session', 'session_person', 'presentation', 'presentation_person'],
      dtype=object)

In [158]:
personsdf = all_sessions_raw[all_sessions_raw["class"].isin(['session_person', 'presentation_person'])][[
    "event_id", "full_name", "first_name", "last_name", "second_name", "country", "title"
]]

In [159]:
personsdf.head()

,event_id,full_name,first_name,last_name,second_name,country,title
1,2d7be553-c3d5-48ec-b65f-58610748bf9c,Christoph Reinhardt,Christoph,Reinhardt,,Germany,
2,2d7be553-c3d5-48ec-b65f-58610748bf9c,Patrick C. Rensen,Patrick,Rensen,C.,Netherlands,
4,2d7be553-c3d5-48ec-b65f-58610748bf9c,Christoph Reinhardt,Christoph,Reinhardt,,Germany,
5,2d7be553-c3d5-48ec-b65f-58610748bf9c,Patrick C. Rensen,Patrick,Rensen,C.,Netherlands,
7,2d7be553-c3d5-48ec-b65f-58610748bf9c,Christoph Reinhardt,Christoph,Reinhardt,,Germany,

In [160]:
# add non referenced sessions
personsdf = personsdf.append(pd.DataFrame([{
    "event_id": event_id, "fullname": "Kausik K. Ray",
    "first_name": "Kausik",
    "last_name": "Ray",
    "second_name": "K.",
    "country": "United Kingdom",
    "title": ""}]))

In [161]:
personsdf = personsdf.append(pd.DataFrame([{
    "event_id": event_id, "fullname": "Alberico L. Catapano",
    "first_name": "Alberico",
    "last_name": "Catapano",
    "second_name": "L.",
    "country": "Italy",
    "title": ""}]))

In [162]:
len(personsdf)

415

In [163]:
personsdf = personsdf.drop_duplicates(subset="full_name", keep='first')

In [164]:
len(personsdf)

194

In [165]:
personsdf["id"] = [str(uuid.uuid4()) for i in range(len(personsdf))]

In [166]:
personsdf.head()

,event_id,full_name,first_name,last_name,second_name,country,title,fullname,id
1,2d7be553-c3d5-48ec-b65f-58610748bf9c,Christoph Reinhardt,Christoph,Reinhardt,,Germany,,NaN,f8a33d6f-9250-460a-85de-0ecc5b9ca419
2,2d7be553-c3d5-48ec-b65f-58610748bf9c,Patrick C. Rensen,Patrick,Rensen,C.,Netherlands,,NaN,b43b35bc-5692-4fd4-9ae0-0ffbc3bb9df9
9,2d7be553-c3d5-48ec-b65f-58610748bf9c,Wendy Garrett,Wendy,Garrett,,United States of America,,NaN,05ade436-ae4f-423c-8668-fa2743ae8f51
14,2d7be553-c3d5-48ec-b65f-58610748bf9c,Maciej Banach,Maciej,Banach,,Poland,,NaN,0c0484ba-2734-413d-b8da-35812c80b2ca
15,2d7be553-c3d5-48ec-b65f-58610748bf9c,Timo Strandberg,Timo,Strandberg,,Finland,,NaN,675cd928-1e4a-4c1c-b9ad-6f521f1a7a61

In [167]:
personsdf["event_id"].unique()[0]

'2d7be553-c3d5-48ec-b65f-58610748bf9c'

In [168]:
personsdf[personsdf["full_name"]=="Kausik K. Ray"]

,event_id,full_name,first_name,last_name,second_name,country,title,fullname,id
245,2d7be553-c3d5-48ec-b65f-58610748bf9c,Kausik K. Ray,Kausik,Ray,K.,United Kingdom,,NaN,fa2223a3-80e1-45d8-a9a9-367bb4a891f8

In [169]:
personsdf[personsdf["full_name"]=="Alberico L. Catapano"]

,event_id,full_name,first_name,last_name,second_name,country,title,fullname,id
202,2d7be553-c3d5-48ec-b65f-58610748bf9c,Alberico L. Catapano,Alberico,Catapano,L.,Italy,,NaN,350ae66f-7e86-43f4-b870-8f6d264e3fe5

In [170]:
personssavedf = personsdf.drop(columns=["full_name"])

In [171]:
with jsonlines.open('../output/structured/Person.jsonl', mode='w') as writer:
    writer.write_all(personssavedf.T.apply(lambda x: x.dropna().to_dict()).tolist())

## SessionPerson and PresentationPerson

In [174]:
all_sessions_raw["class"].unique()

array(['session', 'session_person', 'presentation', 'presentation_person'],
      dtype=object)

In [175]:
sessionpersonsdf = all_sessions_raw[all_sessions_raw["class"]=="session_person"][[
    "full_name", "role", "content_id"]]

In [177]:
len(sessionpersonsdf)

75

In [176]:
[item for item in sessionpersonsdf.content_id if item not in list(sessionsdf.id)]

[]

In [178]:
sessionpersonsdf.rename(columns={"content_id": "session_id"}, inplace=True)

In [118]:
#all_sessions_raw["session_id"] = all_sessions_raw["session_id"].apply(
#    lambda x: first_duplicated_sessions_id if x in list_duplicated_sessions_id else x)

In [179]:
sessionpersonsdf = sessionpersonsdf.merge(personsdf[["full_name", "id"]], on="full_name").rename(
    columns={"id": "person_id"})

In [180]:
sessionpersonsdf.drop(columns=["full_name"], inplace=True)

In [181]:
sessionpersonsdf.head()

,role,session_id,person_id
0,chairperson,55726fce-937f-4c60-bd10-d3159e157adf,f8a33d6f-9250-460a-85de-0ecc5b9ca419
1,chairperson,55726fce-937f-4c60-bd10-d3159e157adf,b43b35bc-5692-4fd4-9ae0-0ffbc3bb9df9
2,chairperson,4e9a759b-afec-4aa7-91fc-868aebfed149,0c0484ba-2734-413d-b8da-35812c80b2ca
3,chairperson,4e9a759b-afec-4aa7-91fc-868aebfed149,675cd928-1e4a-4c1c-b9ad-6f521f1a7a61
4,chairperson,75deba0f-39fe-45f0-9716-7f796c01b882,c2e13a0a-0896-4a6b-9732-9aef46483924

In [ ]:
# add chairs
sessionpersonsdf = sessionpersonsdf.append(pd.DataFrame([{
    "role": "chairperson",
    "session_id": "d540c69e-b4ed-42dd-ab4d-77726339a8f1",
    "person_id": "350ae66f-7e86-43f4-b870-8f6d264e3fe5"
}]))

In [183]:
# add chairs
sessionpersonsdf = sessionpersonsdf.append(pd.DataFrame([{
    "role": "chairperson",
    "session_id": "af35fc49-2ed2-41c0-a8d2-2681d3b65f7d",
    "person_id": "fa2223a3-80e1-45d8-a9a9-367bb4a891f8"
}]))

In [184]:
sessionpersonsdf[-2:]

,role,session_id,person_id
0,chairperson,d540c69e-b4ed-42dd-ab4d-77726339a8f1,350ae66f-7e86-43f4-b870-8f6d264e3fe5
0,chairperson,af35fc49-2ed2-41c0-a8d2-2681d3b65f7d,fa2223a3-80e1-45d8-a9a9-367bb4a891f8

In [185]:
with jsonlines.open('../output/structured/SessionPerson.jsonl', mode='w') as writer:
    writer.write_all(sessionpersonsdf.T.apply(lambda x: x.dropna().to_dict()).tolist())

In [186]:
all_sessions_raw["class"].unique()

array(['session', 'session_person', 'presentation', 'presentation_person'],
      dtype=object)

In [187]:
presentationpersonsdf = all_sessions_raw[all_sessions_raw["class"]=="presentation_person"][[
    "full_name", "role", "content_id"]]

In [188]:
presentationpersonsdf.head()

              full_name       role                            content_id
4   Christoph Reinhardt  presenter  40f9964b-4a75-4f75-8995-d86cb903a36b
5     Patrick C. Rensen  presenter  40f9964b-4a75-4f75-8995-d86cb903a36b
7   Christoph Reinhardt  presenter  09ca1ebc-c203-476f-b93c-51722ada74da
9         Wendy Garrett  presenter  43cc35bd-828c-472c-8b84-6b58576a0e95
11    Patrick C. Rensen  presenter  4d36916e-21d5-4fb8-bdc0-f6d13b209fe6

In [189]:
[item for item in presentationpersonsdf.content_id if item not in list(presentationsdf.id)]

[]

In [190]:
presentationpersonsdf.rename(columns={"content_id": "presentation_id"}, inplace=True)

In [191]:
presentationpersonsdf.head()

              full_name       role                       presentation_id
4   Christoph Reinhardt  presenter  40f9964b-4a75-4f75-8995-d86cb903a36b
5     Patrick C. Rensen  presenter  40f9964b-4a75-4f75-8995-d86cb903a36b
7   Christoph Reinhardt  presenter  09ca1ebc-c203-476f-b93c-51722ada74da
9         Wendy Garrett  presenter  43cc35bd-828c-472c-8b84-6b58576a0e95
11    Patrick C. Rensen  presenter  4d36916e-21d5-4fb8-bdc0-f6d13b209fe6

In [192]:
presentationpersonsdf["role"].unique()

array(['presenter'], dtype=object)

In [193]:
presentationpersonsdf[pd.isnull(presentationpersonsdf["presentation_id"])]

Empty DataFrame
Columns: [full_name, role, presentation_id]
Index: []

In [194]:
presentationpersonsdf = presentationpersonsdf.merge(personsdf[["full_name", "id"]], on="full_name").rename(
    columns={"id": "person_id"})

In [195]:
presentationpersonsdf.drop(columns=["full_name"], inplace=True)

In [196]:
presentationpersonsdf.head()

,role,presentation_id,person_id
0,presenter,40f9964b-4a75-4f75-8995-d86cb903a36b,f8a33d6f-9250-460a-85de-0ecc5b9ca419
1,presenter,09ca1ebc-c203-476f-b93c-51722ada74da,f8a33d6f-9250-460a-85de-0ecc5b9ca419
2,presenter,4d36916e-21d5-4fb8-bdc0-f6d13b209fe6,f8a33d6f-9250-460a-85de-0ecc5b9ca419
3,presenter,40f9964b-4a75-4f75-8995-d86cb903a36b,b43b35bc-5692-4fd4-9ae0-0ffbc3bb9df9
4,presenter,4d36916e-21d5-4fb8-bdc0-f6d13b209fe6,b43b35bc-5692-4fd4-9ae0-0ffbc3bb9df9

In [197]:
with jsonlines.open('../output/structured/PresentationPerson.jsonl', mode='w') as writer:
    writer.write_all(presentationpersonsdf.T.apply(lambda x: x.dropna().to_dict()).tolist())

In [198]:
eventdf = pd.DataFrame([{
    "airfinity_id": "AE13189", "city": "virtual", "country": "virtual",
    "downloaded_at": "2021-06-11T15:32:08.464063", "end_date": "2021-06-02",
    "id": personsdf["event_id"].unique()[0], "name": "EAS Congress 2021",
    "source_platform": "ctimeetingtech",
    "source_url": "https://cslide.ctimeetingtech.com/eas21/attendee/confcal/session",
    "start_date": "2020-05-30"
}])

In [199]:
with jsonlines.open('../output/structured/Event.jsonl', mode='w') as writer:
    writer.write_all(eventdf.T.apply(lambda x: x.dropna().to_dict()).tolist())